<%= turbo_stream_from @ticket %>
<%= turbo_frame_tag 'ticket' do %>
  <%= render @ticket %>

  
<% end %>
 <div id='comments'>
  <h2>Comments</h2>
  <%= render @ticket.comments%>
</div>
<%# link_to 'New Comment',new_ticket_comment_path(@ticket)%>
<%= turbo_frame_tag 'new_comment',src: new_ticket_comment_path(@ticket), target: :_top%>